html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #ebebeb;
  font-family: sans-serif;
}
/* -----GENERAL----- */
.header-mobile {
  display: none;
}
.body-wrapper {
  padding: 2rem 20rem 0 20rem;
}
.icon {
  width: 2rem;
  height: 2rem;
}
.news-title {
  color: #5e5e5e;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem 0 1rem 0;
}

.sports {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem 0 0 0;
  color: green !important;
}
.economy {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem 0 0 0;
  color: orange !important;
}
.entertainment {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem 0 0 0;
  color: purple !important;
}
/* -----HEADER----- */

.logo {
  width: 64px;
  height: 64px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.menu {
  display: flex;
  align-items: center;
}
.menu p {
  padding: 0 5px 0 5px;
  color: grey;
}

/* estilo search bar */
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
  -webkit-box-shadow: 5px 5px 15px 5px #a1a1a1;
  box-shadow: 5px 5px 15px 5px #a1a1a1;
}
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

input:focus {
  outline: none;
}
.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.form svg {
  width: 17px;
  margin-top: 3px;
}
/* fim estilo search bar */
.clima {
  display: flex;
  font-size: 12px;
  align-items: center;
}
.weather-location {
  margin: 0 5px 0 5px;
}
.min-max-weather {
  display: flex;
  gap: 5px;
}
#min {
  color: red;
}
#max {
  color: blue;
}

.user-avatar {
  width: 52px;
  height: 52px;
}

/* -----DIVIDER----- */
.divider {
  border: 1px solid #bdbdbd;
}

.subtitle-divider {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgb(126, 29, 41);
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}

.subtitle-divider div {
  width: 100vw;
  margin-left: 10px;
}

/* -----NAVBAR----- */

.hamburger-menu {
  visibility: hidden;
}
.categories {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}

.categories a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(94, 94, 94);
  font-weight: bold;
}

/* -----FIRST SECTION----- */
.first-section {
  margin: 2rem 0 2rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 2rem;
}
.first-section img {
  width: 35rem;
  height: 30rem;
  border-radius: 1rem;
}

.horizontal-card {
  max-width: 20rem;
}
.horizontal-card img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

/* -----SECOND SECTION----- */

.second-section {
  margin: 2rem 0 2rem 0;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1rem;
}

.other-topics-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
}
.side-topics {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
}
.main-second-section {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
}

.topic-wrapper {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: (5) 1fr;
}
.topic-wrapper figure {
  width: 100%;
  height: 10px;
}

.topic {
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  align-items: flex-start;
  height: 150px;
}
.topic figure {
  height: 100%;
  width: 100%;
}
.topic-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  justify-content: space-evenly;
}
.topic-title {
  color: rgb(94, 94, 94);
  font-size: 20px;
  font-weight: bold;
}

.topic img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: top;
}
.last-topic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1rem;
  height: 500px;
  background: url("./images/tie-4.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
}
.last-topic-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(72, 162, 221);
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  height: 130px;
}
.last-topic-content p {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem;
}
.last-topic-content h1 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem;
}
.last-topic-navigation {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
}

.last-topic-navigation img {
  width: 30px;
}

.reading-time {
  color: grey;
  font-size: 12px;
  padding: 5px 0;
}
.music-topic-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
.music-topic img {
  border-radius: 1rem;
  width: 18rem;
  height: 25rem;
}
.music-topic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 18rem;
  height: 25rem;
}

.music-topic-text {
  position: absolute;
  color: white;
  padding: 1rem;
}
.music {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 0rem 0rem 1rem 0rem;
}
.music-topic-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.big-topic img {
  object-fit: cover;
  border-radius: 1rem;
  width: 100%;
  height: 17.3rem;
}

.big-topic {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}
.big-topic-text {
  position: absolute;
  color: white;
  padding: 1rem;
}

.music-subtitle {
  padding: 1rem 0rem 1rem 0rem;
}
.small-topic img {
  max-width: 100%;
  width: 100%;
  height: 110px;
  border-radius: 0.7rem;
  object-fit: cover;
  object-position: center;
  align-items: center;
}
.small-topic {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

/* -----VIDEOS----- */

.featured-video-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.featured-video {
  width: 300px;
  height: 400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.video-length {
  position: absolute;
  margin-left: 210px;
  margin-top: 20px;
  padding: 4px;
  width: 60px;
  border-radius: 1rem;
  background-color: rgb(80, 80, 255);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.video-length-sports {
  position: absolute;
  margin-left: 210px;
  margin-top: 20px;
  padding: 4px;
  width: 60px;
  border-radius: 1rem;
  background-color: green;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.video-preview img {
  object-fit: cover;
  object-position: top;
  width: 300px;
  height: 200px;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(150, 127, 255);
}

.video-player {
  position: absolute;
  margin-top: 180px;
  margin-left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(80, 80, 255);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.video-player-sports {
  position: absolute;
  margin-top: 180px;
  margin-left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#icon-player {
  width: 24px;
  height: 24px;
}
.video-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  width: inherit;
  height: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.video-description p {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 1.5rem;
  color: rgb(80, 80, 255);
}
.video-description h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 1.5rem;
  color: grey;
}

/* -----HOROSCOPE SECTION----- */

.horoscope-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1.43fr 1fr;
  grid-column-gap: 1rem;
}
.horoscope-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.horoscope {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 265px;
}
.horoscope img {
  width: 50px;
  height: 50px;
  margin: 1rem 0 1rem 0;
}
.horoscope-title {
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.sign {
  color: rgb(68, 85, 139);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.horoscope-description {
  font-size: 14px;
  color: grey;
  margin-bottom: 1rem;
}
.bolsa-mega {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.bolsa {
  padding: 1rem;
  color: grey;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-transform: uppercase;
  font-weight: bold;
}
.bolsa h1 {
  margin-top: 1rem;
}
.bolsa div {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  font-size: 12px;
  font-weight: bold;
}
.bolsa-valor {
  color: #2f2ee9;
}
.bolsa-valor-neg {
  color: darkred;
}

.mega-sena img {
  width: 40px;
  height: 40px;
  margin-top: 1rem;
}

.mega-sena div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mega-sena {
  color: grey;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.mega-sena h3 {
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}
.mega-sena p {
  color: green;
  padding: 0.5rem;
  border: 1px solid green;
  border-radius: 100%;
}

/* -----LAST SECTION----- */
.last-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1rem;
}

/* ----- FOOTER ----- */
.footer {
  width: 100%;
  margin-top: 5rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: grey;
  height: 130px;
  bottom: 0 !important;
  left: 0 !important;
}
.footer a {
  color: white;
}

.last-topic-picture {
  width: 100%;
  height: 100%;
}
.small-topic-figure {
  width: 23rem;
  height: 110px;
}

@media (max-width: 1900px) {
  .user {
    display: flex;
    align-items: center;
  }
  .first-section {
    margin: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .first-section img {
    width: 27rem;
    height: 30rem;
    border-radius: 1rem;
    object-fit: cover;
  }

  .horizontal-card {
    max-width: 10rem;
  }
  .horizontal-card img {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
  }
  /* music topic */
  .second-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .side-topics {
    margin-top: 5px;
  }
  .big-topic {
    width: 25rem;
  }
  .small-topic {
    width: 23rem;
  }

  .music-topic-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
  }
  .music-topic img {
    border-radius: 1rem;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
  }
  .music-topic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 25rem;
  }

  .music-topic-text {
    position: absolute;
    color: white;
    padding: 1rem;
  }
  .music {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 0rem 0rem 1rem 0rem;
  }
  .music-topic-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
  }
  .topic {
    padding: 1rem 0 1rem 0;
    display: flex;
    align-items: flex-start;
    height: 150px;
  }
  .big-topic img {
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 17rem;
  }

  /* -----VIDEOS----- */

  .featured-video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .featured-video {
    width: 220px;
    height: 400px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .video-length {
    position: absolute;
    margin-left: 140px;
    margin-top: 20px;
    padding: 4px;
    width: 60px;
    border-radius: 1rem;
    background-color: rgb(80, 80, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .video-length-sports {
    position: absolute;
    margin-left: 140px;
    margin-top: 20px;
    padding: 4px;
    width: 60px;
    border-radius: 1rem;
    background-color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .video-preview img {
    object-fit: cover;
    object-position: top;
    width: 220px;
    height: 200px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(150, 127, 255);
  }

  .video-player {
    position: absolute;
    margin-top: 180px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(80, 80, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .video-player-sports {
    position: absolute;
    margin-top: 180px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #icon-player {
    width: 24px;
    height: 24px;
  }
  .video-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    width: inherit;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .video-description p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: rgb(80, 80, 255);
  }
  .video-description h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: grey;
  }
}
@media (max-width: 1575px) {
  .first-section img {
    width: 20rem;
    height: 20rem;
  }

  .horizontal-card {
    max-width: 20rem;
  }
  .horizontal-card img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
  }

  /* music topic */
  .second-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .side-topics {
    margin-top: 5px;
  }
  .big-topic {
    width: 20rem;
  }
  .small-topic {
    width: 18rem;
    height: 150px;
  }
  .other-topics-wrapper {
    grid-row-gap: 0.5rem;
  }

  .music-topic-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
  }
  .music-topic img {
    border-radius: 1rem;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
  }
  .music-topic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 25rem;
  }

  .music-topic-text {
    position: absolute;
    color: white;
    padding: 1rem;
  }
  .music {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 0rem 0rem 1rem 0rem;
  }
  .music-topic-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
  }
  .topic {
    padding: 1rem 0 1rem 0;
    display: flex;
    align-items: flex-start;
    height: 150px;
  }
  .big-topic img {
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 17rem;
  }
  .featured-video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    max-height: 350px;
  }

  .featured-video {
    width: 175px;
    height: 400px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .video-length {
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    padding: 4px;
    width: 60px;
    border-radius: 1rem;
    background-color: rgb(80, 80, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .video-length-sports {
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    padding: 4px;
    width: 60px;
    border-radius: 1rem;
    background-color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .video-preview img {
    object-fit: cover;
    object-position: top;
    width: 175px;
    height: 150px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(150, 127, 255);
  }

  .video-player {
    position: absolute;
    margin-top: 125px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(80, 80, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .video-player-sports {
    position: absolute;
    margin-top: 125px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #icon-player {
    width: 24px;
    height: 24px;
  }
  .video-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    width: inherit;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .video-description p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: rgb(80, 80, 255);
  }
  .video-description h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: grey;
  }

  .bolsa div {
    padding: 1rem;
    align-items: flex-start;
    font-size: 11px;
  }
  .bolsa h3 {
    font-size: 12px;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  .mega-sena h3 {
    font-size: 12px;
  }
  .mega-sena p {
    padding: 0.3rem;
    font-size: 10px;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .categories {
    flex-wrap: wrap;

    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    justify-content: space-evenly;
    padding-bottom: 5rem;
  }
  .last-topic-navigation {
    display: none;
  }
}

@media (max-width: 1400px) {
  .body-wrapper {
    padding: 2rem 2rem 0 2rem;
  }
}

@media (max-width: 850px) {
  .body-wrapper {
    padding: 2rem 1rem 0 1rem;
  }
  .menu,
  .form,
  .logo,
  .clima,
  .iconn,
  .user,
  #divider-header,
  .categories,
  .notification-icon {
    display: none;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;
    text-transform: uppercase;

    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  .first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .first-section img {
    width: 18rem;
  }

  .horizontal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
  }

  .horizontal-card img {
    min-width: 18rem;
  }

  .second-section {
    display: flex;
    flex-direction: column;
  }
  .topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .topic-wrapper {
    height: 100%;
  }
  .music-topic-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    width: 22.5rem;
  }
  .music-topic {
    margin-top: 1rem;
  }
  .other-topics-wrapper {
    display: flex;
    flex-direction: column;
  }
  .big-topic {
    width: 22.5rem;
  }
  .small-topic {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 20.5rem;
  }
  .small-topic figure,
  .small-topic-figure {
    width: 100%;
    margin: auto;
  }
  .featured-video-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }
  .featured-video {
    height: 100%;
  }

  .horoscope-section {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .horoscope {
    margin-top: 1rem;
  }
  .bolsa-mega {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .topic {
    height: 100%;
  }
  .topic img {
    height: 13rem;
  }
  .last-topic {
    margin-top: 2rem;
  }
  .last-section {
    display: flex;
    flex-direction: column;
  }
  .other-topics-wrapper {
    margin-top: 3rem;
  }
  .bolsa-mega {
    display: flex;
    flex-direction: column;
  }
  .bolsa {
    width: 100%;
  }
  .mega-sena {
    width: 100%;
  }

  .featured-video {
    width: 350px;
    height: 400px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .video-length {
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    padding: 4px;
    width: 60px;
    border-radius: 1rem;
    background-color: rgb(80, 80, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .video-length-sports {
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    padding: 4px;
    width: 60px;
    border-radius: 1rem;
    background-color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .video-preview img {
    object-fit: cover;
    object-position: top;
    width: 350px;
    height: 200px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(150, 127, 255);
  }

  .video-player {
    position: absolute;
    margin-top: 180px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(80, 80, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .video-player-sports {
    position: absolute;
    margin-top: 180px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #icon-player {
    width: 24px;
    height: 24px;
  }
  .video-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    width: inherit;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .video-description p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: rgb(80, 80, 255);
  }
  .video-description h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: grey;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .footer a,
  .footer span {
    margin-top: 1rem;
  }
  .footer figure {
    display: none;
  }
}
